body{

    /*background-color: rgb(222, 222, 222);*/
    background-color: rgb(255, 210, 117);
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: rgb(23, 23, 23);
    font-size: 12pt;
    padding: 0;
    margin: 0;
    border: 0;

}

html{

    background-color: rgb(255, 210, 117);
    height: 100%;
    width: 100%;

}

h1{

    text-align: left;
    padding: 25px 0 10px 0;
    margin: 0;

}

em{

    display: block;
    text-align: left;
    padding: 0 0 0 10px;
    margin: 0;

}

#logo{

    display: block;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}

div{

    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}

footer{

    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;

}

header, footer{

    background-color: rgb(255, 226, 164);

}

#loginBlock{

    background-color: white;
    align-self: center;
    width: 300px;
    height: 400px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: lightgray;
    border-width: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

}