body{

    background-color: rgb(49, 28, 0);
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 12pt;
    padding: 0;
    margin: 0;
    border: 0;

}

html{

    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;

}

h1{

    text-align: left;
    padding: 20px 20px 10px 20px;
    margin: 0;

}

em{
    display: block;
    text-align: left;
    padding-top: 0;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 0;

}

a{

}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

div{

    display: block;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}

footer{
    display: block;
    width: 100%;
    background-color: rgba(255, 173, 28, 0.73);
    height: auto;
    position:absolute;
    bottom:0;
    text-align: center;
}