body {
    font-family: 'Crimson Text', serif;
    margin: 0;
}

.header {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #f9a114;
}

.header a {
    font-size: 30pt;
    margin-bottom: 0;
    letter-spacing: 5px;
    text-decoration: none;
    color: #f9a114;
    padding-top: 5px;
}
.header p {
    font-style: italic;
    margin-top: 0;
}
/* Column container */
.info {
    display: flex;
    flex-wrap: wrap;
}
.info p, li {
    line-height: 1.5;
    font-size: 14pt;
}

.sidecol {
    flex: 10%; /* Sets the width of the side bars */
    background-color: #f1f1f1;
}
img {
    width: 100%;
    height: 100%;
}

.middlecol {
    flex: 80%; /* Set the width of the main column */
    background-color: white;
    padding: 20px; /* 20px on top, bottom, left, and right */
    margin-bottom: 53px;
}
.middlecol h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.middlecol h3{
    /*padding: 0;*/
    margin: 0;
}
#error{
    text-align: center;
}

.footer {
    text-align: center;
    background: #ddd;
    font-size: 8px;
    padding: 10px;
}

