

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/tables";

.form-control {
  width: 3rem;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
  font-weight: normal;
}







